body {
	background-color: #f1f1f1;
}

.navbar {
	border-radius: 0px;
	height: 50px;
}

.post {
	background-color: white;
	border-bottom: 1px solid #cccccc;
	margin-bottom: 15px;
	line-height: 25px;
	padding-bottom: 25px;
}



.recent-posts {
	background-color: white;
	border: 1px solid #cccccc;
	height: 400px;
}

.options {
	background-color: white;
	border: 1px solid #cccccc;
	height: 400px;

}

.post small {
	display: block;
	margin-top: -10px;
}